*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    overflow: hidden;
}
body{
    margin: 2vh;
    padding: 2vh;
    background-image: linear-gradient(to right,#679add, #656e79, #64758C);
    color: rgb(7, 6, 6);
    
}
#mainTitle{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1vh;
}
img{

    width: 30vh;
    height: 40vh;
    text-align: center;
    margin: 2vh 0 0 8vh;
}

#divRes{
    width: 50vh;
    height: 20vh;
    border: 1px solid black;
    margin-right: 10%;
    margin-left: -1.5vh;
    padding:1.3%;
}

#divRes p{
   
    width: 50vh;
    height: 25vh;
    text-align: center;
    
}


@media only screen and (min-width: 700px) {
    body {
      text-align: center;
      margin: 2% 0% 2% 0;
      font-size: 18px;
      
    }

    #mainTitle{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2%;
    }

    #divRes p{
        position: absolute;
        width: 50vw;
        height: 20vh;
        margin: 2% 0 0 25%;
        padding: 1%;
    }

    #divRes{
        border: none;
    }

   
  }